<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>li.bohong.book-store.search</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>14EA484D-011D-47FC-89EA-B8A33E4DD3D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4CF7B7A-0959-4BD3-A8CC-238FF85914B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>84DCBB06-01EF-4646-BC54-5105C071069D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ECBD0E3A-2B7F-4F16-9103-AC205FEFC5D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>406D386B-469D-4B02-9757-DB462E8FDAB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>BoHong Li</string>
	<key>description</key>
	<string>search book in Amazon, 博客來, 天瓏書局</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search in multiple bookstore</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.amazon.com/s?i=stripbooks&amp;k={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E4CF7B7A-0959-4BD3-A8CC-238FF85914B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://search.books.com.tw/search/query/key/{query}/cat/all</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>84DCBB06-01EF-4646-BC54-5105C071069D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>books</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search book in book store</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>14EA484D-011D-47FC-89EA-B8A33E4DD3D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.tenlong.com.tw/search?utf8=%E2%9C%93&amp;keyword={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>ECBD0E3A-2B7F-4F16-9103-AC205FEFC5D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://readmoo.com/search/keyword?q={query}&amp;kw={query}&amp;page=1&amp;st=true</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>406D386B-469D-4B02-9757-DB462E8FDAB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>14EA484D-011D-47FC-89EA-B8A33E4DD3D6</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>406D386B-469D-4B02-9757-DB462E8FDAB2</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>84DCBB06-01EF-4646-BC54-5105C071069D</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>E4CF7B7A-0959-4BD3-A8CC-238FF85914B9</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>ECBD0E3A-2B7F-4F16-9103-AC205FEFC5D0</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/a60814billy</string>
</dict>
</plist>
